<div data-url="<%- post.permalink %>" data-title="<% if (post.title){ %>「<%= post.title %>」 | <% } %><%= config.title %>" data-tsina="<%= theme.shareid.tsina %>" data-image="<%= post.titleimage %>" duoshuo-id="<%=theme.duoshuo%>" favicon="<%- config.url+url_for(theme.favicon ) %>" class="article-share">
		<span class="share-icon" title="分享到"></span>
		<a class="share-icon share-wechat" href="javascript:;"></a>
		<a target="_blank" class="share-icon share-weibo"></a>
		<a target="_blank" class="share-icon share-twitter"></a>
		<a target="_blank" class="share-icon share-google"></a>
		<a target="_blank" class="share-icon share-qq"></a>
		<a target="_blank" class="share-icon share-facebook"></a>
</div>