<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <div class="right-col">
      <% if (page.layout=='post' || page.layout=='photo'){ %>
        <%- partial('_partial/right-col', {item: page, table: true}) %>
      <% } else { %>
        <%- partial('_partial/right-col', {item: page, table: false}, {cache: !config.relative_link}) %>
      <% } %>
    </div>
  </div>
  <% if (page.layout=='post' || page.layout=='photo'){ %>
    <%- partial('_partial/mobile-slider', {item: page, table: true}) %>
  <% } else { %>
    <%- partial('_partial/mobile-slider', {item: page, table: false}) %>
  <% } %>
  <%- partial('_partial/after-footer') %>
</body>
</html>